:root {

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #89caff;
    width: 100%;
    padding: 20px 0;

}

.navbar {
    width: 100%;
    height: 70px;
    color: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.navbar input {
    padding: 5px;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    
}


.lista-header {
    list-style: none;
    gap: 15px;
    display: flex;
}

.bars{
    display: none;
}

.menu {
    position: relative;

}

.menu a {
    color: #553722;
    text-decoration: none;
    font-size: 1rem;
    padding: 9px 12px;
}

.menu a:hover {
    transform: scale(1.06);
}



.banner {
    width: 89%;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 20px ;
}

.banner img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
}

.card {
    width: 200px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 4px 10px #3c476e;
    transition : transform 0,3s ease, box-shadow 0,3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px var(#553722);
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}
.vitrine {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 703px) {
    .lista-header {
        /* display: none; */
        flex-direction: column;
        background-color: #d1d1d1;
        padding: 10px;
        position: absolute;
        top: -40px;
        left: -66px;

    }

    /* .bars {
        display: block;
        cursor: pointer;
    } */
}
